/bin
/html
/test
projekte/naturaldocs/Data/
projekte/codelite/cscope.out
projekte/codelite/cscope_file.list
projekte/codelite/jsprojekt.tags
projekte/codelite/jsprojekt.workspace.session
projekte/codelite/jsprojekt.workspace.session.backup
projekte/codelite/tags
