/bin
/html
/TODO/private
/TODO/test
projekte/naturaldocs/Data/
projekte/codelite/.codelite/jsprojekt.tags
projekte/codelite/.codelite/refactoring.db
projekte/codelite/.codelite/sftp-workspace-settings.conf
projekte/codelite/cscope.out
projekte/codelite/cscope_file.list
projekte/codelite/tags
